@import "tailwindcss";

/* body {
  font-family: var(--font-inter), sans-serif;
} */

@theme inline {
  --breakpoint-hs: 815px;
  --breakpoint-ws: 305px;
  --breakpoint-us: 385px;
  --breakpoint-vs: 510px;
}

@layer {
  /* ========== Custom Color Definitions ========== */
  /* Background Colors */
  .bg-night { background-color: rgb(21, 20, 20); }
  .bg-grap { background-color: rgb(166, 140, 238); }
  .bg-primary { background-color: rgb(43, 41, 41); }
  .bg-crayola { background-color: rgb(255, 128, 66); }
  .bg-mint { background-color: rgb(0, 196, 159); }
  .bg-tomato { background-color: rgb(246, 28, 28); }
  .bg-crimson { background-color: rgb(220, 20, 60); }
  .bg-fireengine { background-color: rgb(206, 32, 41); }
  .bg-cherryred { background-color: rgb(255, 76, 76); }
  .bg-peach { background-color: rgb(255, 218, 185); }
  .bg-skyline { background-color: rgb(126, 200, 227); }
  .bg-lavender { background-color: rgb(230, 230, 250); }
  .bg-teal { background-color: rgb(0, 128, 128); }

  /* Text Colors */
  .text-night { color: rgb(21, 20, 20); }
  .text-grap { color: rgb(166, 140, 238); }
  .text-primary { color: rgb(43, 41, 41); }
  .text-crayola { color: rgb(255, 128, 66); }
  .text-mint { color: rgb(0, 196, 159); }
  .text-tomato { color: rgb(246, 28, 28); }
  .text-crimson { color: rgb(220, 20, 60); }
  .text-fireengine { color: rgb(206, 32, 41); }
  .text-cherryred { color: rgb(255, 76, 76); }
  .text-peach { color: rgb(255, 218, 185); }
  .text-skyline { color: rgb(126, 200, 227); }
  .text-lavender { color: rgb(230, 230, 250); }
  .text-teal { color: rgb(0, 128, 128); }

  /* Border Colors */
  .border-night { border-color: rgb(21, 20, 20); }
  .border-grap { border-color: rgb(166, 140, 238); }
  .border-primary { border-color: rgb(43, 41, 41); }
  .border-crayola { border-color: rgb(255, 128, 66); }
  .border-mint { border-color: rgb(0, 196, 159); }
  .border-tomato { border-color: rgb(246, 28, 28); }
  .border-crimson { border-color: rgb(220, 20, 60); }
  .border-fireengine { border-color: rgb(206, 32, 41); }
  .border-cherryred { border-color: rgb(255, 76, 76); }
  .border-peach { border-color: rgb(255, 218, 185); }
  .border-skyline { border-color: rgb(126, 200, 227); }
  .border-lavender { border-color: rgb(230, 230, 250); }
  .border-teal { border-color: rgb(0, 128, 128); }
}

@layer base {
  strong {
    @apply font-semibold; /* or font-medium, font-normal as needed */
  }
}


/* Remove number input arrows globally */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Prevent zoom behavior on inputs */
input, textarea {
  touch-action: manipulation;
}